<a href="https://colab.research.google.com/github/bluelessman/K-digital-project/blob/main/test_231017.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=10 #여기는 1줄 주석입니다
x+1

'''여기는
여려줄
주석입니다'''
"""여기도
주석입니다"""

'여기도\n주석입니다'

In [ ]:
import keyword
a=keyword.kwlist
print(a)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
type(0.1)

float

In [ ]:
10**3

1000

In [ ]:
x = "Hello world~!"
"t" in x

False

In [ ]:
x = [1,2,3,4,5,"a","6"]
"a" in x
1 in x
"1" in x
6 in x

False

In [ ]:
num=10
pi=3.141592
x = "num=%010d" % num
print(x)
print(num)
print("num = %010.2f"%pi)
print("num={}".format(num))
# 문자열
name = "John"
print("Hello, {}!".format(name))

# 정수
num = 42
print("The answer is {}.".format(num))

# 실수
pi = 3.14159
print("Pi is approximately {:.2f}.".format(pi))

# 여러 개의 변수
first_name = "Jane"
last_name = "Doe"
age = 25
print("My name is {} {} and I am {} years old.".format(first_name, last_name, age))

# 인덱스를 이용한 대입
first_name = "Jane"
last_name = "Doe"
age = 25
print("My name is {1} {0} and I am {2} years old.".format(last_name, first_name, age))

num=0000000010
10
num = 0000003.14
num=10
Hello, John!
The answer is 42.
Pi is approximately 3.14.
My name is Jane Doe and I am 25 years old.
My name is Jane Doe and I am 25 years old.

In [ ]:
# f-string에서 다양한 서식 지정자를 이용하는 예제

y = 12.345

print(f"The value of y is {y:10.2f}.")
# 출력 결과: "The value of y is     12.35."

z = 3

print(f"The value of z is {z:+5d}.")
# 출력 결과: "The value of z is    +3."

w = 12345

print(f"The value of w is {w:0>10d}.")
# 출력 결과: "The value of w is 0000012345."

text = "Hello, World!"

print(f"{text:^20}")
# 출력 결과: "   Hello, World!    "

The value of y is      12.35.
The value of z is    +3.
The value of w is 0000012345.
   Hello, World!

In [ ]:
# input()과 산술식만을 이용하여 가장 큰 숫자 출력하기
num1 = int(input("첫 번째 숫자를 입력하세요: "))
num2 = int(input("두 번째 숫자를 입력하세요: "))
num3 = int(input("세 번째 숫자를 입력하세요: "))

max_num = num1

if max_num < num2:
    max_num = num2

if max_num < num3:
    max_num = num3

print(f"입력한 숫자 중 가장 큰 수는 {max_num}입니다.")

첫 번째 숫자를 입력하세요: 3
두 번째 숫자를 입력하세요: 4
세 번째 숫자를 입력하세요: 5
입력한 숫자 중 가장 큰 수는 5입니다.

In [ ]:
second = int(input("초를 입력하시오: "))
print(f"{second}초는 {second//60}분 {second%60}초 입니다")

초를 입력하시오: 27000
27000초는 450분 0초 입니다

In [ ]:
minute = int(input("분을 입력하시오: "))
day = minute//(60*24)
hour = minute%(60*24)//60
pre_minute = minute%60
print(f"{minute}분은 {day}일 {hour}시 {pre_minute}분입니다.")

분을 입력하시오: 1650
1650분은 1일 3시 30분입니다.

In [ ]:
money = int(input("저금한 금액: "))
period = int(input("저금할 기간: "))
earn = int(input("연이율: "))
earntype = input("복리 or 단리?: ")
returnmoney = 0
if earntype == "복리":
  for i in range(period):
    money *= 1+earn/100
  returnmoney = money
else :
  returnmoney = money
  for i in range(period):
    returnmoney += money*earn/100
print(f"돌려받는 금액은 {returnmoney:.2f}원 입니다")

저금한 금액: 5000000
저금할 기간: 5
연이율: 5
복리 or 단리?: 단리
돌려받는 금액은 6250000.00원 입니다

In [ ]:
money = int(input("저금한 금액: "))
period = int(input("저금할 기간: "))
earn = int(input("연이율: "))
earntype = input("복리 or 단리?: ")
returnmoney = 0
if earntype == "복리":
  returnmoney = money*((1+earn/100)**period)
else :
  returnmoney = money*(1+earn/100*period)
print(f"돌려받는 금액은 {returnmoney:.2f}원 입니다")

저금한 금액: 5000000
저금할 기간: 5
연이율: 5
복리 or 단리?: 단리
돌려받는 금액은 6250000.00원 입니다

In [ ]:
count = int(input())
print(f"1부터 {count}까지의 합은 {int(count*(count+1)/2)}입니다.")

100
1부터 100까지의 합은 5050입니다.

In [ ]:
grape = int(input("포도알의 개수: "))
berry = int(input("딸기의 개수: "))
print(f"포도 {grape}알과 딸기 {berry}개의 총 무게는 {grape*75+berry*113.5}g입니다.")

포도알의 개수: 15
딸기의 개수: 7
포도 15알과 딸기 7개의 총 무게는 1919.5g입니다.

In [ ]:
name = input("당신의 이름은?")
print(f"당신의 이름은 {name}")

당신의 이름은?수
당신의 이름은 수

In [ ]:
A = input("a:")
B = input("b:")
int(A)+int(B)

a:40
b:50

90

코렙 파이썬 개발 환경입니다
# 1. 제목
## 1.1 제목
### 1.1.1 제목
- 리스트 1
- 리스트 2
- 리스트 3
  - 들여쓰기 리스트

> 인용구문


1. 번호 리스트 1
2. 번호 리스트 2
3. 번호 리스트 3